version: '3.8'
services:
  database:
    image: postgres
    container_name: database_postgres
    volumes:
      - database_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=password
    ports:
      - "5432:5432"
volumes:
  database_data:
    name: database_data